extends layout

block main
	#content
		
	.controls
		input#exit(type="button", value='Exit')
		textarea#field
		button#send Send
			div#hotkey Enter
		br
		br
	#namebox
		input#name(type='text', placeholder='Display Name:')