html
	head
		title= "General Survey"
	body
		h2 General Survey
		form
			legend
				p Should Any Federal Taxes Be Increased?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q1", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q1", value = "no")
			legend
				p Should Private Prisons Be Allowed in the United States?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q2", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q2", value = "no")
			legend
				p Should Law Enforcement Be Allowed to Use Racial Profiling?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q3", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q3", value = "no")
			legend
				p Should the United States Continue the War on Drugs?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q4", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q4", value = "no")
			legend
				p Does Lowering the Corporate Income Tax Rate Create Jobs?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q5", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q5", value = "no")
			legend
				p Should Any Public Colleges or Universities Be Tuition-Free?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q6", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q6", value = "no")
			legend
				p Should Voters Be Required to Show Photo Identification in Order to Vote?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q7", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q7", value = "no")
			legend
				p Is the Nuclear Arms Deal with Iran Good for America?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q8", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q8", value = "no")
			legend
				p Should There Be an Independent Palestinian State?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q9", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q9", value = "no")
			legend
				p Should More Gun Control Laws Be Enacted?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q10", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q10", value = "no")
			legend
				p Should Schools Be Gun-Free Zones?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q11", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q11", value = "no")
			legend
				p Should People on the No-Fly List or the Terror Watch List Be Allowed to Purchase Guns?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q12", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q12", value = "no")
			legend
				p Should Abortion Be Legal?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q13", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q13", value = "no")
			legend
				p Is the Affordable Care Act Good for America?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q14", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q14", value = "no")
			legend
				p Should Planned Parenthood Receive Federal Funding?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q15", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q15", value = "no")
			legend
				p Should Undocumented Immigrants in the United States Be Allowed to Become Legal Residents?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q16", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q16", value = "no")
			legend
				p Should the Federal Minimum Wage Be Increased?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q17", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q17", value = "no")
			legend
				p Should the US Military Budget Be Increased?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q18", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q18", value = "no")
			legend
				p Is the Black Lives Matter Movement Good for America?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q19", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q19", value = "no")
			legend
				p Is Human Activity Primarily Responsible for Global Climate Change?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q20", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q20", value = "no")
			legend
				p Should Genetically Modified (GMO) Foods Have Mandatory Labeling?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q21", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q21", value = "no")
			legend
				p Should the United States Transition Away from Fossil Fuels and Towards Renewable Energy?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q22", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q22", value = "no")
			legend
				p Was the US Supreme Court Decision Legalizing Same-Sex Marriage a Good Decision?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q23", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q23", value = "no")
			legend
				p Should Colleges and Universities Use Affirmative Action for Admissions?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q24", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q24", value = "no")
			legend
				p Should Interrogation Techniques That Some Consider Torture, Such as Waterboarding, Be a Legal Option?
			label(for = "true_1") Yes
			input(id="true_1", type = "radio", name = "q25", value = "yes")
			label(for = "false_1") No
			input(id="false_1", type = "radio", name = "q25", value = "no")